@page
@using EQToolApis.DB;
@using EQToolShared.Enums;
@model EQToolApis.Pages.IndexModel
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
    var key = $(".mytime").each(function (i, obj) {
    var element = $(this); // <div> or <span> element.
    var utc = element.attr("utc"); // "2018-12-28T02:36:13.6774675Z"
    var d = new Date(utc);
    var l = d.toLocaleString(); // Runs client side, so will be client's local time!
    element.text(l);
    });
    });
</script>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 col-12">
            <div class="jumbotron">
                <div class="float-right">
                    @if (Model.DiscordUsername != null)
                    {
                        <span class="mr-3 text-muted">@Model.DiscordUsername</span>
                        <a href="/Account/Logout" class="btn btn-sm btn-outline-secondary">Logout</a>
                    }
                    else
                    {
                        <a href="/Account/Login" class="btn btn-sm text-white d-inline-flex align-items-center" style="background-color:#5865F2;gap:6px;">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 127.14 96.36" width="18" height="18" aria-hidden="true">
                                <path fill="#fff" d="M107.7,8.07A105.15,105.15,0,0,0,81.47,0a72.06,72.06,0,0,0-3.36,6.83A97.68,97.68,0,0,0,49,6.83,72.37,72.37,0,0,0,45.64,0,105.89,105.89,0,0,0,19.39,8.09C2.79,32.65-1.71,56.6.54,80.21h0A105.73,105.73,0,0,0,32.71,96.36,77.7,77.7,0,0,0,39.6,85.25a68.42,68.42,0,0,1-10.85-5.18c.91-.66,1.8-1.34,2.66-2a75.57,75.57,0,0,0,64.32,0c.87.71,1.76,1.39,2.66,2a68.68,68.68,0,0,1-10.87,5.19,77,77,0,0,0,6.89,11.1A105.25,105.25,0,0,0,126.6,80.22h0C129.24,52.84,122.09,29.11,107.7,8.07ZM42.45,65.69C36.18,65.69,31,60,31,53s5-12.74,11.43-12.74S54,46,53.89,53,48.84,65.69,42.45,65.69Zm42.24,0C78.41,65.69,73.25,60,73.25,53s5-12.74,11.44-12.74S96.23,46,96.12,53,91.08,65.69,84.69,65.69Z"/>
                            </svg>
                            Login with Discord
                        </a>
                    }
                </div>
                <h1 class="display-4">P99 Tunnel Prices</h1>
                <p class="lead">This site monitors continuously prices in the tunnel!</p>
                @if (Model.ServerMessage != null)
                {
                    <div class="alert alert-@Model.ServerMessage.AlertType" role="alert">
                        <h4 class="alert-heading">@Model.ServerMessage.Title</h4>
                        <p>@Model.ServerMessage.Message</p>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2 col-12">
            <div class="card-deck">
                <div class="card border-success mb-3">
                    <div class="card-body">
                        <p class="card-text">
                            <div class="row">
                                <div class=col-6>
                                    <p>For API documentation, please refer to <a href="/swagger">Swagger</a> </p>
                                    <p>If you discover prices discrepancies, please open an issue on <a href="https://github.com/smasherprog/EqTool" target="_blank">Github</a> </p>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <th>Total Players</th>
                                                <td>@Model.AllData.TotalEQAuctionPlayers.ToString("n0")</td>
                                            </tr>
                                            <tr>
                                                <th>Total Items</th>
                                                <td>@Model.AllData.TotalUniqueItems.ToString("n0")</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class=col-6>
                                    <p>
                                        <strong>Get Pigarse to enhance your gameplay!</strong> Map, DPS, Spell Timer, Mob Info and more!
                                    </p>
                                    <a href="https://github.com/smasherprog/EqTool" target="_blank"><img class="img-fluid" src="https://raw.githubusercontent.com/smasherprog/EqTool/main/Example.png" height="400" /></a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-8 offset-lg-2">
            <div class="row">
                @foreach (var item in EQToolApis.Pages.IndexModel.PigParseStats)
                {
                    <div class="col-6 card border-@item.CssClass mb-1">
                        <div class="card-body">
                            <h5 class="card-title text-@item.CssClass">@item.Server Server</h5>
                            <p class="card-text">
                                <table>
                                    <tbody>
                                        @if (item.Server == Servers.Green || item.Server == Servers.Blue)
                                        {
                                            <tr>
                                                <th>Total Actioned Items</th>
                                                <td>@Model.AllData.ServerData[(int)item.Server].TotalEQTunnelAuctionItems.ToString("n0")</td>
                                            </tr>
                                            <tr>
                                                <th>Total Actions</th>
                                                <td>@Model.AllData.ServerData[(int)item.Server].TotalEQTunnelMessages.ToString("n0")</td>
                                            </tr>
                                            <tr>
                                                <th>Last Updated</th>
                                                <td class="mytime" utc="@Model.AllData.ServerData[(int)item.Server].RecentImportTimeStamp.ToString("o")"></td>
                                            </tr>
                                            <tr>
                                                <th>Oldest Import</th>
                                                <td class="mytime" utc="@Model.AllData.ServerData[(int)item.Server].OldestImportTimeStamp.ToString("o")"></td>
                                            </tr>
                                        }

                                        <tr>
                                            <th>Map Users</th>
                                            <td>@item.PigParsePlayerCount</td>
                                        </tr>
                                        <tr>
                                            <th>Unique Users</th>
                                            <td>@item.PigParseUniquePlayerCount</td>
                                        </tr>
                                        <tr>
                                            <th>Top Zones</th>
                                            <td>
                                                @foreach (var z in @item.zoneStats.OrderByDescending(a => a.Count).Where(a => a.Count > 0).Take(5))
                                                {
                                                    <text>@z.Zone:@z.Count/</text>
                                                }
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </p>
                            @if (item.Server == Servers.Green || item.Server == Servers.Blue)
                            {
                                <a href="/ServerIndex/@item.Server" class="btn btn-success">Prices</a>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-lg-8 offset-lg-2">
            <div class="row">
                @for (var j = 0; j < Model.NoteableNPCs.Count; j++)
                {
                    <div class="col-6 card border-@EQToolApis.Pages.IndexModel.PigParseStats[j].CssClass mb-1">
                        <div class="card-body">
                            <h5 class="card-title text-@EQToolApis.Pages.IndexModel.PigParseStats[j].CssClass">@EQToolApis.Pages.IndexModel.PigParseStats[j].Server Server (All Date/Times are in your timezone)</h5>
                            <p class="card-text">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th class="pr-5">Quakes</th>
                                            <th></th>
                                        </tr>
                                        @foreach (var q in Model.Quakes.Where(a => (int)a.Server == j))
                                        {
                                            <tr>
                                                <th class="text-right"></th>
                                                <td class="mytime" utc="@q.DateTime.ToString("o")"></td>
                                            </tr>
                                        }
                                        @foreach (var item in Model.NoteableNPCs[j])
                                        {
                                            <tr>
                                                <th class="pr-5">@item.Name</th>
                                                @if (item.EventTime.HasValue)
                                                {
                                                    <td class="mytime" utc="@item.EventTime.Value.ToString("o")"></td>
                                                }
                                                else
                                                {
                                                    <td>N/A</td>
                                                }

                                            </tr>
                                            @foreach (var fixedtime in item.FixedTimeNPCDateTimes)
                                            {
                                                <tr>
                                                    <th class="text-right">(Guess)</th>
                                                    <td class="mytime" utc="@fixedtime.ToString("o")"></td>
                                                </tr>
                                            }
                                            @foreach (var rangedtime in item.RangeTimeNPCDateTime)
                                            {
                                                <tr>
                                                    @if (item.RangeTimeNPCDateTime.Count > 1)
                                                    {
                                                        <th class="text-right">(Guess)</th>
                                                    }
                                                    else
                                                    {
                                                        <th class="text-right">(Window)</th>
                                                    }

                                                    <td>
                                                        <span class="mytime" utc="@rangedtime.BegWindow.ToString("o")"></span>
                                                        <span> - </span>
                                                        <span class="mytime" utc="@rangedtime.EndWindow.ToString("o")"></span>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                      
                                    </tbody>
                                </table>
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div> 