@page
@model EQToolApis.Pages.IndexModel
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable1 tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
            $("#myTable2 tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
<style>

    .tableFixHead thead th {
        position: sticky;
        top: 0;
        z-index: 1;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-offset-6 col-4">
            <input class="form-control" id="myInput" type="text" placeholder="Search..">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="tableFixHead">
                <table class="table table-sm table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Last Seen</th>
                            <th>Item</th>
                            <th title="Total Actions in the last 30 days">30d Count</th>
                            <th title="Average over last 30 days">30d Avg</th>
                            <th title="Total Actions in the last 60 days">60d Count</th>
                            <th title="Average over last 60 days">60d Avg</th>
                            <th title="Total Actions in the last 90 days">90d Count</th>
                            <th title="Average over last 90 days">90d Avg</th>
                            <th title="Total Actions in the last 6 Month">6M Count</th>
                            <th title="Average over last 6 Month">6M Avg</th>
                            <th title="Total Actions in the last All time">All Count</th>
                            <th title="Average over last All time">All Avg</th>
                        </tr>
                    </thead>
                    <tbody id="myTable1">
                        @foreach (var auctions in Model.AuctionItems)
                        {
                            <tr>
                                <td> @auctions.LastSeen.ToString("yyyy-MM-dd") </td>
                                <td> @auctions.ItemName </td>
                                <td> @auctions.TotalLast30DaysCount </td>
                                <td> @auctions.TotalLast30DaysAverage.ToString("n0") </td>
                                <td> @auctions.TotalLast60DaysCount </td>
                                <td> @auctions.TotalLast60DaysAverage.ToString("n0") </td>
                                <td> @auctions.TotalLast90DaysCount </td>
                                <td> @auctions.TotalLast90DaysAverage.ToString("n0") </td>
                                <td> @auctions.TotalLast6MonthsCount </td>
                                <td> @auctions.TotalLast6MonthsAverage.ToString("n0") </td>
                                <td> @auctions.TotalAuctionCount </td>
                                <td> @auctions.TotalAuctionAverage.ToString("n0") </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <h3>Stats:</h3>
    <div class="row">
        <dl class="dl-horizontal">
            <dt class="col-sm-3">TotalEQAuctionPlayers</dt>
            <dd class="col-sm-9">@Model.TotalEQAuctionPlayers</dd>
            <dt class="col-sm-3">TotalEQitems</dt>
            <dd class="col-sm-9">@Model.TotalEQitems</dd>
            <dt class="col-sm-3">TotalEQTunnelAuctionItems</dt>
            <dd class="col-sm-9">@Model.TotalEQTunnelAuctionItems</dd>
            <dt class="col-sm-3">TotalEQTunnelMessages</dt>
            <dd class="col-sm-9">@Model.TotalEQTunnelMessages</dd>
        </dl>
        <div class="col-12">
        </div>
    </div>
</div>
