@page
@using EQToolApis.DB;
@using EQToolShared.Enums;
@model EQToolApis.Pages.IndexModel
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        var key = $(".mytime").each(function (i, obj) {
            var element = $(this); // <div> or <span> element.
            var utc = element.attr("utc"); // "2018-12-28T02:36:13.6774675Z"
            var d = new Date(utc);
            var l = d.toLocaleString(); // Runs client side, so will be client's local time!
            element.text(l);
        });
    });
</script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="jumbotron">
                <h1 class="display-4">P99 Tunnel Prices</h1>
                <p class="lead">This site monitors continuously prices in the tunnel!</p>
                @if (Model.ServerMessage != null)
                {
                    <div class="alert alert-@Model.ServerMessage.AlertType" role="alert">
                        <h4 class="alert-heading">@Model.ServerMessage.Title</h4>
                        <p>@Model.ServerMessage.Message</p>
                    </div>
                }
                <hr class="my-4">  
                <p>For API documentation, please refer to <a href="/swagger">Swagger</a> </p>
                <p>If you discover prices discrepancies, please open an issue on <a href="https://github.com/smasherprog/EqTool" target="_blank">Github</a> </p>
                <table>
                    <tbody>
                        <tr>
                            <th>Total Players</th>
                            <td>@Model.AllData.TotalEQAuctionPlayers.ToString("n0")</td>
                        </tr>
                        <tr>
                            <th>Total Items</th>
                            <td>@Model.AllData.TotalUniqueItems.ToString("n0")</td>
                        </tr>
                    </tbody>
                </table>
             
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card-deck">
                <div class="card border-success mb-3">
                    <div class="card-body">
                        <h5 class="card-title text-success">Green Server</h5>
                        <p class="card-text">
                            <table>
                                <tbody>
                                    <tr>
                                        <th>Total Actioned Items</th>
                                        <td>@Model.AllData.ServerData[(int)Servers.Green].TotalEQTunnelAuctionItems.ToString("n0")</td>
                                    </tr>
                                    <tr>
                                        <th>Total Actions</th>
                                        <td>@Model.AllData.ServerData[(int)Servers.Green].TotalEQTunnelMessages.ToString("n0")</td>
                                    </tr>
                                    <tr>
                                        <th>Last Updated</th>
                                        <td class="mytime" utc="@Model.AllData.ServerData[(int)Servers.Green].RecentImportTimeStamp.ToString("o")"></td>
                                    </tr>
                                    <tr>
                                        <th>Oldest Import</th>
                                        <td class="mytime" utc="@Model.AllData.ServerData[(int)Servers.Green].OldestImportTimeStamp.ToString("o")"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </p>
                        <a href="/ServerIndex/@Servers.Green" class="btn btn-success">Prices</a>
                    </div>
                </div>
                <div class="card border-primary mb-3">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Blue Server</h5>
                        <p class="card-text">
                            <table>
                                <tbody>
                                    <tr>
                                        <th>Total Actioned Items</th>
                                        <td>@Model.AllData.ServerData[(int)Servers.Blue].TotalEQTunnelAuctionItems.ToString("n0")</td>
                                    </tr>
                                    <tr>
                                        <th>Total Actions</th>
                                        <td>@Model.AllData.ServerData[(int)Servers.Blue].TotalEQTunnelMessages.ToString("n0")</td>
                                    </tr>
                                    <tr>
                                        <th>Last Updated</th>
                                        <td class="mytime" utc="@Model.AllData.ServerData[(int)Servers.Blue].RecentImportTimeStamp.ToString("o")"></td>
                                    </tr>
                                    <tr>
                                        <th>Oldest Import</th>
                                        <td class="mytime" utc="@Model.AllData.ServerData[(int)Servers.Blue].OldestImportTimeStamp.ToString("o")"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </p>
                        <a href="/ServerIndex/@Servers.Blue" class="btn btn-primary">Prices</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card border-dark mb-3">
                <div class="card-body">
                    <h5 class="card-title text-dark ">EQ Tool</h5>
                    <p class="card-text">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Map, DPS, SPell Timer, Mob Info and more</li>
                        </ul>
                        <img src="https://user-images.githubusercontent.com/3393733/222487918-bf41211b-439e-4d2e-8b4d-e2a5f09a2bbd.png" height="400" />
                    </p>
                    <a href="https://github.com/smasherprog/EqTool" target="_blank" class="btn btn-dark">EQTool</a>
                </div>
            </div>
        </div>
    </div>
</div>
