@page "/ItemDetails/{itemid}/{server}"
@model EQToolApis.Pages.ItemDetailsModel
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        var key = $(".mytime").each(function (i, obj) {
            var element = $(this); // <div> or <span> element.
            var utc = element.attr("utc"); // "2018-12-28T02:36:13.6774675Z"
            var d = new Date(utc);
            var l = d.toLocaleString(); // Runs client side, so will be client's local time!
            element.text(l);
        });
    });
</script>
<style>

    .tableFixHead thead th {
        position: sticky;
        top: 0;
        z-index: 1;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <h2>@Model.Item.ItemName</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="tableFixHead">
                <table class="table table-sm table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Type</th>
                            <th>PlayerName</th>
                            <th>AuctionPrice</th>
                            <th>Timestamp</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var auctions in Model.Item.Items)
                        {
                            <tr class="@(auctions.AuctionType == EQToolApis.DB.AuctionType.WTS ? "table-success" : "table-warning")">
                                <td> @auctions.AuctionType </td>
                                <td> @auctions.PlayerName </td>
                                <td> @auctions.AuctionPrice </td>
                                <td class="mytime"  utc="@auctions.TunnelTimestamp.ToString("o")">  
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
