@page "/ItemDetails/{itemid}/{server}"
@model EQToolApis.Pages.ItemDetailsModel
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        var key = $(".mytime").each(function (i, obj) {
            var element = $(this); // <div> or <span> element.
            var utc = element.attr("utc"); // "2018-12-28T02:36:13.6774675Z"
            var d = new Date(utc);
            var l = d.toLocaleString(); // Runs client side, so will be client's local time!
            element.text(l);
        });
    });
</script>
<style>

    .tableFixHead thead th {
        position: sticky;
        top: 0;
        z-index: 1;
    }
</style>


<div class="row">
    <div class="col-6">
        <h2> <a href="https://wiki.project1999.com/@(Model.Item.ItemName.Replace(' ', '_'))" target="_blank">@Model.Item.ItemName <i class="fa fa-external-link"></i></a> </h2>
    </div>
</div>

<div class="tableFixHead">
    <table class="table-bordered">
        <thead>
            <tr>
                <th class="bg-primary">Type</th>
                <th class="bg-primary">PlayerName</th>
                <th class="bg-primary">AuctionPrice</th>
                <th class="bg-primary">Timestamp</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var auctions in Model.Item.Items)
            {
                <tr class="@(auctions.AuctionType == EQToolApis.DB.AuctionType.WTS ? "table-success" : "table-warning")">
                    <td> @auctions.AuctionType </td>
                    <td> @auctions.PlayerName </td>
                    <td> @auctions.AuctionPrice </td>
                    <td class="mytime" utc="@auctions.TunnelTimestamp.ToString("o")">
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
